<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Añadir Extra</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container">
            <h1 th:text="@{Añadir un extra para el plato }+${plato.nombre}"></h1>
            <form action="#" th:action="@{/restaurante/addExtra}" th:object="${extra}" method="post">
                <div class="container">
                    <label for="nombre" class="form-label">Nombre del extra:</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
                </div>
                <div class="container">
                    <label for="precio" class="form-label">Precio del extra:</label>
                    <input type="text" class="form-control" id="precio" th:field="*{precio}" required>
                </div>
                <div class="container">
                    <input type="hidden" id="idPlato" name="idPlato" th:value="${plato.id}" required>
                    <button type="submit" class="btn btn-success">Añadir</button>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
    </body>
</html>