<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Añadir Plato</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container">
            <h1 th:text="@{Añadir un plato para }+${restaurante.nombre}"></h1>
            <form action="#" th:action="@{/restaurante/addPlato?idRestaurante=}+${restaurante.id}" th:object="${plato}" method="post">
                <div class="container">
                    <label for="nombre" class="form-label">Nombre del plato:</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required>
                </div>
                <div class="container">
                    <label for="descripcion" class="form-label">Descripción del plato:</label>
                    <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" required>
                </div>
                <div class="container">
                    <label for="precio" class="form-label">Precio del plato:</label>
                    <input type="text" class="form-control" id="precio" th:field="*{precio}" required>
                </div>
                <div class="container">
                    <label for="ingredientes" class="form-label">Ingredientes del plato:</label>
                    <input type="text" class="form-control" id="ingredientes" th:field="*{ingredientes}" required>
                </div>
                <div class="container">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
    </body>
</html>