<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="flex-grow-1 ms-3">
            <h1>Pagina principal Admin: <span th:text="${user.username}"></span></h1>
            <h3 th:text="|Nombre: ${user.firstName}|"></h3>
            <h3 th:text="|Apellidos: ${user.lastName}|"></h3>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>