<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Carrito</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="text-center mt-3">Carrito</h3>
            <div class="row"  th:if="${pedido != null}">
                <div class="col"> <!--Formulario entrega-->
                    <div class="row  justify-content-center">
                        <div class="col-8">
                            <div class="form mb-3">
                                <label class="ms-2" for="#direccionEntrega">Dirección de entrega</label>
                                <input type="text" class="form-control" id ="direccionEntrega" th:value="${user.direccion}" placeholder="C/ Angustias, 43, 3D">
                            </div>
                        </div>
                    </div>
                    <div class="row  justify-content-center">
                        <div class="col-8">
                            <div class="form">
                                <label class="ms-2" for="#instruccionesEntrega">Instrucciones de entrega</label>
                                <textarea class="form-control" id="instruccionesEntrega" placeholder="Timbre nº 256" style="height:100px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row  justify-content-center mt-3">  
                        <div class="col-8">
                            <label>El pago se llevará a cabo al recibir el pedido</label>
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="radio" name="entrega" id="pagoTarjeta" checked>
                                <label class="form-check-label" for="pagoTarjeta">
                                    Pago con tarjeta
                                </label>
                            </div>
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="radio" name="entrega" id="pagoEfectivo">
                                <label class="form-check-label" for="pagoEfectivo">
                                    Pago en efectivo
                                </label>
                            </div>
                            <div class="form mt-2">
                                <label class="ms-2" for="#cambio">Si necesita cambio, pídanoslo aquí</label>
                                <input type="text" class="form-control" id="cambio" placeholder="Llevar cambio de 10 euros"></input>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center my-3">
                        <div class="col-8 articulos">
                            <h5>Tus artículos</h5>
                            <ul class="list-group list-group-flush border rounded">
                                <li th:each="x: ${pedido.contenidoPedido}" class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div class="fw-bold" th:text="${x.plato.nombre}"></div>
                                        <p class="mb-0" th:each="y: ${x.extras}" th:text="${y.nombre}"></p>
                                    </div>
                                    <span class="badge bg-dark rounded-pill" th:text="${x.cantidad}"></span>
                                </li>
                            </ul>
                        </div>  
                    </div>
                </div>
                <div class="col"> <!--Precio desglosado-->
                    <div class="border rounded">
                        <div class="row justify-content-center mt-2">
                            <div class="col-8 d-flex justify-content-between align-items-start">
                                <div class="fw-bold h6">Subtotal</div>
                                <p th:text="|${precio}€|"></p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 d-flex justify-content-between align-items-start">
                                <div class="fw-bold h6">Servicio</div>
                                <p th:text="|${pedido.precioServicio}€|"></p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 d-flex justify-content-between align-items-start">
                                <div class="fw-bold h6">Entrega</div>
                                <p th:text="|${pedido.precioEntrega}€|"></p>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3">
                            <div class="col-8 d-flex justify-content-between align-items-start">
                                <div class="fw-bold h5">Total</div>
                                <p th:text="|${total}€|"></p>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4 mb-2">
                            <form action="/procesaPedido" method="post">
                                <input type="hidden" th:value="${pedido.id}" id="id" name="id"/>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit" class="btn btn-outline-success col-6">Hacer pedido</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"  th:unless="${pedido != null}">
                <p class="text-center mt-4 fs-4">Tu carrito está vacío</p>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>
        