<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
		<head>
				<th:block th:replace="fragments/head :: header" />
				<title>EatAway: Chat Repartidor</title>
		</head>
		<body class="d-flex flex-column h-100">
				<header th:replace="fragments/nav.html :: nav"></header>
				<div class="col">
					<div class="container">
						<div class="row">
							<div style="border: 1px solid; border-color: black; height: 300px;"> 
										<!-- recepción de mensajes -->
								<div class="py-5 row" id="mensajes">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<!-- envío de mensajes -->
								<form class="row" th:action="@{/user/}+${idRepartidor.pedido.cliente.id}+@{/msg}" method="POST">
									<div class="col" style="margin-top: 10px;">
										<input class="form-control" type="text" id="message" placeholder="Envia un mensaje al cliente" />
									</div>
									<div class="col" style="margin-top: 10px;">
										<button id="sendmsg" th:attr="data-id=${idRepartidor.id}" class="btn btn-success" type="submit">Enviar</button>
									</div>
								</form>
							</div>
							<div class="col" style="margin-top: 10px;">
								<form th:action="@{/repartidor/}+${idRepartidor.id}+@{/deliver}" method="post">
									<input type="hidden" id="idPedido" name="idPedido" th:value="${idRepartidor.pedido.id}">
									<input type="hidden" value="ENTREGADO" id="sigEstado" name="sigEstado">
									<button class="btn btn-outline-info updatePedido" type="submit" th:attr="data-idpedido=${idRepartidor.pedido.id}, data-nuevoestado=Entregado">Marcar como entregado</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<th:block th:replace="fragments/footer.html :: footer" />
		</body>
</html>
<script src="js/confirmaEliminar.js"></script>
<script src="/js/stomp.js"></script>
<script src="/js/mensajeria.js"></script>