<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Editar Etiqueta</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container">
            <h1 th:text="|Editar el extra ${label.nombre} para el restaurante ${nombreRestaurante}|"></h1>
            <form action="#" th:if="${admin == 0}" th:action="@{/restaurante/editExtra}" th:object="${extra}" method="post" id="formEditExtra" name="formEditExtra">
                <div class="container">
                    <label for="nombre" class="form-label">Nombre de la etiqueta:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${label.nombre}" required>
                </div>
                <div class="container">
                    <input type="hidden" name="id" id="id" th:value="${label.id}">
                    <button type="submit" class="btn btn-success">Editar</button>
                </div>
            </form>
            <form action="#" th:if="${admin == 1}" th:action="@{/admin/editLabel}" th:object="${label}" method="post" id="formEditLabel" name="formEditLabel">
                <div class="container">
                    <label for="nombre" class="form-label">Nombre de la etiqueta:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${label.nombre}" required>
                </div>
                <div class="container">
                    <input type="hidden" name="id" id="id" th:value="${label.id}">
                    <button type="submit" class="btn btn-success">Editar</button>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
    </body>
</html>