<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Editar Plato</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container">
            <h1 th:text="|Editar el plato ${plato.nombre}|"></h1>
            <form action="#" th:action="@{/restaurante/editPlato}" th:object="${plato}" method="post">
                <div class="container">
                    <label for="nombre" class="form-label">Nombre del plato:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${plato.nombre}" required>
                </div>
                <div class="container">
                    <label for="descripcion" class="form-label">Descripción del plato:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${plato.descripcion}" required>
                </div>
                <div class="container">
                    <label for="precio" class="form-label">Precio del plato:</label>
                    <input type="text" class="form-control" id="precio" name="precio" th:value="${plato.precio}" required>
                </div>
                <div class="container">
                    <label for="ingredientes" class="form-label">Ingredientes del plato:</label>
                    <input type="text" class="form-control" id="ingredientes" name="ingredientes" th:value="${plato.ingredientes}" required>
                </div>
                <div class="container">
                    <input type="hidden" id="id" name="id" th:value="${plato.id}">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
    </body>
</html>