<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title th:text="|EatAway: Editar ${restaurante.nombre}|"></title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container">
            <h1 th:text="|Editar el restaurante ${restaurante.nombre}|"></h1>
            <form action="#" th:action="@{/restaurante/editRestaurante}" th:object="${restaurante}" method="post">
                <div class="container">
                    <label for="nombre" class="form-label">Nombre del Restaurante:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${restaurante.nombre}" required>
                </div>
                <div class="container">
                    <label for="descripcion" class="form-label">Descripción del Restaurante:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${restaurante.descripcion}" required>
                </div>
                <div class="container">
                    <label for="horario" class="form-label">Horario de Atención:</label>
                    <input type="text" class="form-control" id="horario" name="horario" th:value="${restaurante.horario}" required>
                </div>
                <div class="container">
                    <label for="direccion" class="form-label">Dirección del Restaurante:</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" th:value="${restaurante.direccion}" required>
                </div>
                <div class="container">
                    <input type="hidden" id="id" name="id" th:value="${restaurante.id}">
                    <button type="submit" class="btn btn-success">Editar</button>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
    </body>
</html>