<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>EatAway: Pedidos Realizados</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <h1 class="text-center my-3">PEDIDOS REALIZADOS EN REPARTO</h1>
    <div class="container">
      <div class="row">
        <!-- Pedidos-->
        <div class="col">
          <table th:id = "tablePedidos" class="table table-hover" th:if="${!(#lists.isEmpty(pedidos))}">
            <thead class="table-success">
              <tr>
                <th scope="col">PEDIDO</th>
                <th scope="col">REPARTIDOR</th>
                <th scope="col">RESTAURANTE</th>
                <th scope="col">DIR RESTAURANTE</th>
                <th scope="col">FECHA PEDIDO</th>
                <th scope="col">FECHA DE CADUCIDAD</th>
                <th scope="col">TIEMPO </th>
                <th scope="col">RESTANTE </th>
                <th scope="col">ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="x, data : ${pedidos}">
                <th scope="row" th:text=${x.id}></th>
                <td th:text=${x.repartidor.id}></td>
                <td th:text=${x.restaurante.nombre}></td>
                <td th:text=${x.restaurante.direccion}></td>
                <td th:text=${fechaPedido[data.index]}></td>
                <td th:text=${caducidad[data.index]}></td>
                <td th:id="minutos" th:text=${timerM[data.index]}></td>
                <td th:id="segundos" th:text= ${timerS[data.index]}></td>
                <td>
                    <form th:action="@{/user/} + ${user.id}+ @{/chat/} + ${x.id}" method="GET">
                        <button type="submit" class="btn btn-success">HABLAR</button></td>
                      </form>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>

    
    <h1 class="text-center my-3">PEDIDOS REALIZADOS EN ESPERA</h1>
    <div class="container">
      <div class="row">
        <!-- Pedidos-->
        <div class="col">
          <table class="table table-hover" th:if="${!(#lists.isEmpty(pedidosEspera))}">
            <thead class="table-success">
              <tr>
                <th scope="col">PEDIDO</th>
                <th scope="col">ESTADO</th>
                <th scope="col">RESTAURANTE</th>
                <th scope="col">DIR RESTAURANTE</th>
                <th scope="col">FECHA PEDIDO</th>
                <th scope="col">FECHA DE CADUCIDAD</th>
                <th scope="col">ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="x, data : ${pedidosEspera}">
                <th scope="row" th:text=${x.id}></th>
                <th:block th:switch="${x.estado}">
                  <td th:case="${T(es.ucm.fdi.iw.model.Pedido.Estado).PENDIENTE}" scope="col" class="text-secondary">Pendiente</td>
                  <th th:case="${T(es.ucm.fdi.iw.model.Pedido.Estado).PREPARANDO}" scope="col" class="text-primary">Preparando</th>
                  <th th:case="${T(es.ucm.fdi.iw.model.Pedido.Estado).LISTORECOGIDA}" scope="col" class="text-info">Listo para Recoger</th>
                  <th th:case="${T(es.ucm.fdi.iw.model.Pedido.Estado).REPARTO}" scope="col" class="text-success">En Reparto</th>
                </th:block>
                <td th:text=${x.restaurante.nombre}></td>
                <td th:text=${x.restaurante.direccion}></td>
                <td th:text=${fechaPedidoEspera[data.index]}></td>
                <td th:text=${caducidadEspera[data.index]}></td>
                <td><button type="submit" class="btn btn-success" disabled>HABLAR</button></td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />

</body>
</html>
<script src="/js/countdown.js"></script>