<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: listaPedidos</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <h1 style = 'text-align: center;'>PEDIDOS</h1>
    <div class="container">
      <div class="row">
        <!-- Pedidos Clientes-->
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">REFERENCIA</th>
                <th scope="col">CLIENTE</th>
                <th scope="col">RESTAURANTE</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "x : ${pedidos}">
                <th scope="row" th:text =${x.id}></th>
                <td th:text = ${x.lastName}></td>
                <td th:text = ${x.nombre}></td>
                <td><button type="button" class="btn btn-success">Info</button></td>
                <td><button type="button" class="btn btn-success">Recoger</button></td>
              </tr>
              <tr>
            </tbody>
          </table>                    
        </div>
         <!-- Mapa -->
        <div class="col" style="width : 270px;height : 300px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12145.935204521777!2d-3.73336365!3d40.4424278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1648028550314!5m2!1ses!2ses" width="400" height="300" style="border:0;" loading="lazy"></iframe>
        </div>
        <!-- Chat Cliente-->
        <div class="col">
          <div class="container">
            <!-- Chat -->
            <div class="row">
              <div style="border: 1px solid; border-color: black; height: 300px;">        
              </div>
            </div>
            <!-- Para Escribir-->
            <div class="row">
              <div style="display:flex; align-items:initial; margin-top: 10px;">
                <input type="text" style="width : 270px;">
                <button type="button" class="btn btn-success">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>