<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>IW: listaPedidos</title>
  <style>
    #map {
      height: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <h1 style='text-align: center;'>PEDIDOS</h1>
    <div class="container">
      <div class="row">
        <!-- Pedidos Clientes-->
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">REFERENCIA</th>
                <th scope="col">CLIENTE</th>
                <th scope="col">RESTAURANTE</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="x : ${pedidos}">
                <th scope="row" th:text=${x.id}></th>
                <td th:text=${x.lastName}></td>
                <td th:text=${x.nombre}></td>
                <td><button type="button" th:attr="data-id=${x.id},data-nombre=${x.nombre}" class="btn info btn-success">Info</button></td>
                <td><button type="button" class="btn btn-success">Recoger</button></td>
              </tr>
              <tr>
            </tbody>
          </table>
        </div>
        <!-- Mapa -->
        <div class="col" style="width : 270px;height : 300px">
          <div id="map"> </div>
          <p id="datos"></p>
        </div>
        <!-- Chat Cliente-->
        <!--<div class="col">
          <div class="container">
            <div class="row">
              <div style="border: 1px solid; border-color: black; height: 300px;">        
              </div>
            </div>
            <div class="row">
              <div style="display:flex; align-items:initial; margin-top: 10px;">
                <input type="text" style="width : 270px;">
                <button type="button" class="btn btn-success">Enviar</button>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQZw6dluYpanrSVjTBrFY2I-WVhGAxSY0&callback=initMap"
    async defer></script>
  <script src="/js/listaPedidos.js"></script>

</body>

</html>