<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Perfil Restaurante</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container" th:if="${message != null}">
            <div class="alert alert-success" role="alert" th:text="${message}"></div>
        </div>
        <div class="container mt-4">
            <div class="row mb-3">
                <div class="col-5 mb-5">
                    <h3>Mis datos personales</h3>
                    <h5 class="fw-normal" th:text="'Nombre: ' + ${propietario.firstName}"></h5>
                    <h5 class="fw-normal" th:text="'Apellido: ' + ${propietario.lastName}"></h5>
                </div>
                <div class="col-6">
                    <h4>Configuración de mis restaurantes</h4>
                    <button type="button" class="btn btn-success me-2"  id="modifRestButton">Modificar restaurante existente</button>
                    <a  th:href="@{'/restaurante/'+${id}+ '/addRestaurante?id='}+${propietario.id}" class="btn btn-success">
                        Añadir restaurante nuevo
                    </a>
                    <div class="row ps-0 mt-2" id="restaurantOptions" hidden>
                        <div class="col-6">
                            <input class="form-control mb-2" id="restSelInput" list="datalistOptions" placeholder="Restaurante...">
                            <datalist id="datalistOptions">
                                <option class="optionList" th:each = "x : ${availableRestaurants}" th:text="${x.nombre}" th:id="${x.nombre}"></option>
                            </datalist>
                            <button id="buscarRestBtn" class="btn btn-secondary">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-5 restaurant" th:each ="x: ${availableRestaurants}" th:id="${x.nombre}+'Rest'" hidden>
            <h3 th:text="${x.nombre}"></h3>
            <div class="row align-items-center">
                <div class="col-4">
                    <img th:src="@{/img/}+${x.nombre}+@{.jpg}" width="300px" height="300px" alt="Logo del restaurante">
                </div>
                <div class="col">
                    <div class="container">
                        <h4>Configuración del restaurante</h4>
                        <div class="row align-items-start">
                            <div class="col">
                                <a th:href="@{'/restaurante/'+${id}+ '/addPlato?id='}+${x.id}" class="text-decoration-none btn btn-outline-success">
                                    Añadir plato
                                </a>
                            </div>
                            <div class="col">
                                <form th:action="@{/restaurante/delRestaurante}" method="post" name="delRestaurante" th:id="@{delRestaurante?id=}+${x.id}">
                                    <input type="hidden" th:value="${x.id}" id="id" name="id">
                                    <button type="button" class="btn btn-outline-danger delRest" th:attr="data-idrestaurante=${x.id}, data-nombrerestaurante=${x.nombre}">Eliminar Restaurante</button>
                                </form>
                            </div>
                            <div class="col">
                                <a th:href="@{'/restaurante/'+${id}+'/editRestaurante?id='}+${x.id}">
                                    <button type="button" class="btn btn-outline-warning">Editar restaurante</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row align-items-start">
                    <div class="col-4">
                        <h5 th:text="'Valoración media: ' + ${x.valoracion}"></h5>
                    </div>
                    
                    <div class="col-4">
                        <h5>Últimas valoraciones</h5>
                        <p th:if="${#lists.isEmpty(x.comentarios)}">No hay comentarios recientes</p>
                        <ol th:each="comentario,comStat: ${x.comentarios}" th:unless="${comStat.index > 5}">
                            <li th:text="|De ${comentario.autor.username}  para el plato  ${comentario.plato.nombre}: ${comentario.texto}|"></li>
                        </ol>
                    </div>
                    <div class="col-4">
                        <h5>Últimos pedidos realizados</h5>
                        <p th:if="${#lists.isEmpty(x.pedidos)}">No hay pedidos recientes</p>
                        <ol th:each="pedido,pedStat: ${x.pedidos}" th:unless="${pedStat.index > 5}">
                            <li th:text="|Para ${pedido.cliente.username} en ${pedido.dirEntrega} por ${pedido.precioServicio}€|"></li>
                        </ol>
                    </div>
                    <div class="col">
                        <table class="table">
                            <thead>
                                <th scope="col">Nombre del Plato</th>
                                <th scope="col">Foto del Plato</th>
                                <th scope="col">Acciones disponibles</th>
                            </thead>
                            <tbody>
                                <tr th:each="p: ${x.platos}">
                                    <td th:text="${p.nombre}"></td>
                                    <td><img th:src="@{/img/}+${p.nombre}+@{.jpg}" width="100px" height="100px" alt="Foto del plato"></td>
                                    <td>
                                        <div class="container">
                                            <div class="row align-items-start">
                                                <div class="col">
                                                    <a th:href="@{'/restaurante/'+${id}+ '/addExtra?id='}+${p.id}" class="text-decoration-none btn btn-outline-success">
                                                        Añadir extras
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-outline-warning">Editar Plato</button>
                                                </div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-outline-warning">Editar Extras</button>
                                                </div>
                                                <div class="col">
                                                    <form th:action="@{/restaurante/delPlato}" method="post" name="delPlato" th:id="@{delPlato?id=}+${p.id}">
                                                        <input type="hidden" th:value="${p.id}" id="idPlato" name="idPlato">
                                                        <button type="button" class="btn btn-outline-danger delPlato" th:attr="data-idplato=${p.id}, data-nombreplato=${p.nombre}">Eliminar Plato</button>
                                                    </form>
                                                </div>
                                                <div class="col">
                                                    <a th:href="@{'/restaurante/'+${id}+ '/delExtra?id='}+${p.id}" class="text-decoration-none btn btn-outline-danger">
                                                        Eliminar extras
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
        
        <script th:src="@{/js/confirmaEliminar.js}" src="js/confirmaEliminar.js"></script>
        <script>
            //Muestra el datalist al pinchar en el botón de modificar restaurante
            document.querySelector("#modifRestButton").onclick = e => {
                e.preventDefault();
                let options = document.querySelector("#restaurantOptions");
                if(options.hasAttribute("hidden")){
                    options.removeAttribute("hidden");
                }
                else{
                    options.setAttribute("hidden", true);
                }
            }
            //Muestra el restaurante seleccionado en el datalist
            document.querySelector("#buscarRestBtn").onclick = e => {
                e.preventDefault();
                let restName =  document.querySelector("#restSelInput").value;
                let restaurants = document.getElementsByClassName("restaurant");
                for(var i = 0; i < restaurants.length; i++){
                    if(!restaurants[i].hasAttribute("hidden")){
                        restaurants[i].setAttribute("hidden", true);
                        break; //solo hay un restaurante con hidden a falso
                    }
                }
                let restaurant = document.getElementById(restName + 'Rest');
                restaurant.removeAttribute("hidden");
            }
        </script>
    </body>
</html>