<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Perfil Restaurante</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <script th:src="@{/js/confirmaEliminar.js}" src="js/confirmaEliminar.js"></script>
        <div class="container" th:if="${message != null}">
            <div class="alert alert-success" role="alert" th:text="${message}"></div>
        </div>
        <div class="container">
            <h1>Perfil de dueño de restaurantes</h1>
            <h3 th:text="@{Nombre: }+${propietario.firstName}"></h3>
            <h3 th:text="@{Apellido: }+${propietario.lastName}"></h3>
            <h2>Operaciones del dueño de restaurante:</h2>
            <a th:href="@{/addRestaurante?id=}+${propietario.id}"><button type="button" class="btn btn-success">Añadir restaurante nuevo</button></a>
        </div>
        <div th:each ="x: ${availableRestaurants}">
            <div class="container">
                <div class="col">
                    <div class="text-align: left">
                        <h1 th:text="${x.nombre}"></h1>
                        <img th:src="@{/img/}+${x.nombre}+@{.jpg}" width="300px" height="300px" alt="Logo del restaurante">
                    </div>
                    <a th:href="@{/addPlato?id=}+${x.id}"><button type="button" class="btn btn-success">Añadir plato</button></a>
                    <a th:href="@{/addExtra?id=}+${x.id}"><button type="button" class="btn btn-success">Añadir extras</button></a>
                    <button type="button" class="btn btn-danger del" th:data-id-restaurante="${x.id}">Eliminar Restaurante</button>
                    <a th:href="@{/delPlato?id=}+${x.id}"><button type="button" class="btn btn-danger">Eliminar Plato</button></a>
                    <a th:href="@{/delExtra?id=}+${x.id}"><button type="button" class="btn btn-danger">Eliminar Extras</button></a>
                </div>  
            </div>
            <div class="container">
                <div class="row align-items start">
                <div class="col">
                    <h2>Valoracion media:</h2>
                </div> 
                    <div class="col">
                        <h2>Últimas valoraciones</h2>
                        <ol>
                            <li>Reseña 1</li>
                            <li>Reseña 2</li>
                            <li>Reseña 3</li>
                            <li>Reseña 4</li>
                            <li>Reseña 5</li>
                        </ol>
                    </div>
                    <div class="col">
                        <h2>Últimos pedidos realizados</h2>
                        <ol>
                            <li>Pedido 1</li>
                            <li>Pedido 2</li>
                            <li>Pedido 3</li>
                            <li>Pedido 4</li>
                            <li>Pedido 5</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
    </body>
</html>