<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: header" />
        <title>EatAway: Perfil Restaurante</title>
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/nav.html :: nav"></header>
        <div class="container mt-4">
            <div class="row mb-3">
                <div class="col-5 mb-5">
                    <h3>Mis datos personales</h3>
                    <h5 class="fw-normal" th:text="'Nombre: ' + ${propietario.firstName}"></h5>
                    <h5 class="fw-normal" th:text="'Apellido: ' + ${propietario.lastName}"></h5>
                </div>
                <div class="col-6">
                    <h4>Configuración de mis restaurantes</h4>
                    <a  th:href="@{'/restaurante/'+${id}+ '/addRestaurante?id='}+${propietario.id}" class="btn btn-success">
                        Añadir restaurante nuevo
                    </a>
                </div>
            </div>
        </div>
        <div class="container mb-5 restaurant">
            <div class="col">
                <table class="table">
                    <thead>
                        <th scope="col">Nombre del Restaurante</th>
                        <th scope="col">Logo del Restaurante</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Valoración media</th>
                        <th scope="col">Acciones disponibles</th>
                    </thead>
                    <tbody>
                        <tr th:each ="x: ${availableRestaurants}">
                            <td th:text="${x.nombre}"></td>
                            <td><img th:src="@{/restaurante/rimg/{id}(id=${x.id})}" width="100px" height="100px" alt="Foto del Restaurante"></td>
                            <td th:text="${x.descripcion}"></td>
                            <td th:text="${x.direccion}"></td>
                            <td th:text="${x.horario}"></td>
                            <td th:text="${x.valoracion}"></td>
                            <td>
                                <a th:href="@{'/restaurante/'+${id}+ '/adminRestaurante?id='}+${x.id}" class="text-decoration-none btn btn-outline-warning">Administrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <th:block th:replace="fragments/footer.html :: footer" />
        
        <script th:src="@{/js/confirmaEliminar.js}" src="js/confirmaEliminar.js"></script>
        <script>
/* 
            function updateImage(logoDivId){
                let logoDiv = document.getElementById(logoDivId).parentElement;
                let restaurantId = logoDivId.replaceAll("Logo", "");
                
                let fileSelector = document.createElement('input');
                fileSelector.setAttribute('type', 'file');
                fileSelector.setAttribute('hidden', 'true');

                logoDiv.appendChild(fileSelector);

                fileSelector.click();
    
                fileSelector.onchange = e =>{
                    let img = document.getElementById(logoDivId + "Edit");
                    console.log(img.src);
                    readImageFileData(fileSelector.files[0], img);

                    let url = config.rootUrl + "/restaurante/rimg/" + restaurantId;
                    console.log(img.src);
                    postImage(img, url, "photo").then(() => {
                        let cacheBuster = "?" + new Date().getTime();
                        img.src = url + cacheBuster;
                    });
                }
            }

 */
            //Muestra el datalist al pinchar en el botón de modificar restaurante
            document.querySelector("#modifRestButton").onclick = e => {
                e.preventDefault();
                let options = document.querySelector("#restaurantOptions");
                if(options.hasAttribute("hidden")){
                    options.removeAttribute("hidden");
                }
                else{
                    options.setAttribute("hidden", true);
                }
            }
            //Muestra el restaurante seleccionado en el datalist
            document.querySelector("#buscarRestBtn").onclick = e => {
                e.preventDefault();
                let restName =  document.querySelector("#restSelInput").value;
                let restaurants = document.getElementsByClassName("restaurant");
                for(var i = 0; i < restaurants.length; i++){
                    if(!restaurants[i].hasAttribute("hidden")){
                        restaurants[i].setAttribute("hidden", true);
                        break; //solo hay un restaurante con hidden a falso
                    }
                }
                let restaurant = document.getElementById(restName + 'Rest');
                restaurant.removeAttribute("hidden");
            }
        </script>
    </body>
</html>
