<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title th:text="${plato.nombre}"></title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="container mt-3">
        
        <div class="row justify-content-center">
            <h3 class="text-center" th:text="${plato.nombre}"></h3>
            <div class="card-group col-8">
                <a class="card mx-1 rounded" href="#">
                    <img src="/img/hamburguesa.jpg" class="card-img-top" alt="..." href="{/]" width="1000" height="400" >
                </a>
                <h4 class="Ingredientes mt-3" th:text="${plato.descripcion}"></h4>
                <h6 class="Ingredientes mt-3"  th:text="${plato.precio}"></h6>
               
            </div> 
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-4">
                <input class="form-control" list="datalistOptions" id="guarnición" placeholder="Elige tu guarnición">
                <datalist id="datalistOptions">
                    <option value=>
                    <!--<option th:each="x : ${plato.extras}" th:value="${x.id}" th:text="${x.nombre}">Extra patatas</option>-->
                    <!--<option value="Patatas fritas">
                    <option value="Patatas Gajo">
                    <option value="Ketchup">
                    <option value="Mayonesa">-->
                </datalist>
            </div>  
      
            <!--<div class="col-3">
                <input class="form-control" list="datalistOptions2" id="punto-carne" placeholder="Elige el punto de la carne">
                <datalist id="datalistOptions2">
                    <option th:each="x : ${plato.extras}" th:value="${x.id}" th:text="${x.nombre}">Extra patatas</option>
                    <option value="Poco hecha">
                    <option value="Al punto">
                    <option value="Muy hecha">
                </datalist>
            </div>-->
        </div>     
        <div class="row justify-content-center mb-3">
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text">Número de platos</span>
                    <input class="border border-disabled rounded-end" id="Plato" type="number" name="Plato" value="1">
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-success">Añadir al pedido</button>
            </div> 
        </div>
        <!--<div>
            <form th:action="@{/adopcion}" method="POST">
                <input type="text" name="extraNombre" required>
                <input type="hidden" name="platoId" th:value="${plato.id}">
                <button type="submit">Enviar</button>
            </form>
        </div>-->
    </div>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>