<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title th:text="@{Eat Away - } + ${restaurante.nombre}"></title>
</head>


<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <!-- <h3 class="fs-1 fst-italic fw-bold text-center" style="color:brown" th:text="${restaurante.nombre}"></h3> -->
                <div id="restaurantImages" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" th:each = "x : ${restaurante}">
                        <div class="carousel-item active">
                            <img th:src="@{/img/}+${x.nombre}+@{Logo}+@{.jpg}" class="d-block w-100" alt="First slide" width="738" height="658">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/img/}+${x.nombre}+@{Logo2}+@{.jpg}" class="d-block w-100" alt="Second slide" width="738" height="658">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target ="#restaurantImages" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target ="#restaurantImages" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        
            <div class="row justify-content-center my-4">
                <h4 class="font-italic text-center" style="color:brown" th:text="${restaurante.descripcion}">Es la hora perfecta para comer una hamburguesa o una ensalada de bulgur o comida italiana o mexicana.</h4>
                <h3 class="mt-5 text-center">Nuestros Platos Principales</h3>
                    <div class="d-flex justify-content-center w-100">
                        <div class="row mt-3 justify-content-center">
                            <a class="link-success col-3  mx-2"  th:each = "x : ${platos}" style="text-decoration: none;" th:href="@{/platos?id=}+${x.id}">
                                <!-- <tr> -->
                                    <div type="row ">
                                        <div class="col">
                                            <img th:src="@{/img/}+${x.nombre}+@{.jpg}" class="card-img-top" width="383" height="380">
                                        </div> 
                                        <div class="col">
                                            <h4 class="font-italic" th:text="${x.nombre}">Nombre del plato</h4>
                                        
                                            <h6 class="font-italic"  th:text="${x.descripcion}">Descripcion del plato</h6>
                                        
                                            <h5 class="font-italic" th:text="${x.precio}+€ ">Precio del plato</h5>
                                        </div>
                                    </div>
                                <!-- <tr th:if="${(iterStat.index + 1) % 2 == 0}" th:utext="'</div>'"/> -->
                            </a>
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>