<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Perfil</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container px-5">
            <div class="row justify-content-center mt-4">
                <div class="col-5 me-3">
                    <div class="row">
                        <div class="col d-flex">
                            <div class="flex-shrink-0">
                              <img class="rounded-circle iwthumb profile-pic" th:src="@{/user/{id}/pic(id=${session.u.id})}" alt="Profile pic">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>Nombre: <span th:text="${user.username}">Paco</span></p>
                                <p>Dirección: <span th:text="${user.direccion}">C/ bbb, 9</span></p>                       
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <button class="btn btn-outline-success mt-3 col-6" data-bs-toggle="collapse" data-bs-target="#ajustes">Ajustes</button>
                        <div id="ajustes" class="collapse my-3 px-0">
                            <div id="profile" class="mb-4 col-10">
                                <h5>Cambiar foto de perfil</h5>
                                <input type="file" class="mb-2 form-control" id="f_avatar" accept="image/jpeg,image/png">
                                <img id="avatar" class="mb-2 img-fluid" alt="imagen a subir"/>
                                <form th:action="@{/user/__${user.id}__/pic}">
                                    <button type="button" class="btn btn-outline-secondary" id="postAvatar" data-bs-toggle="collapse" data-bs-target="#ajustes">Cambiar foto de perfil</button>
                                </form>
                            </div>
                            <div class="mb-4 col-10">
                                <h5>Cambiar dirección de entrega</h5>
                                <label for="direccion">Nueva dirección:</label>
                                <input type="text" class="mb-2 form-control" id="direccion">
                                <form th:action="@{/user/__${user.id}__/dir}">
                                    <button type="button" class="btn btn-outline-secondary" id="postDir">Cambiar dirección</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 ms-3">
                    <p class="h4">Pedidos anteriores</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each = "x: ${user.pedidos}">
                            <h5 th:text="${x.restaurante.nombre}">Restaurante</h5>
                            <ul class="list-group">
                                <li class="list-group-item border-0" th:each="y: ${x.contenidoPedido}">
                                    <div class="me-auto">
                                        <div class="fw-bold" th:text="${y.plato.nombre}">Hamburguesa Vip</div>
                                        <p class="mb-0" th:each="z: ${y.plato.extras}"><small th:text="${z.nombre}">Patatas fritas</small></p>
                                    </div>
                                </li>
                                <!--<li class="list-group-item border-0">
                                    <div class="me-auto">
                                        <div class="fw-bold">Costilla</div>
                                        <p class="mb-0"><small>Carne poco hecha</small></p>
                                    </div>
                                </li>-->
                            </ul>
                        </li>
                        <!--<li class="list-group-item">
                            <h5>Sol naciente</h5>
                            <ul classs="list-group">
                                <li class="list-group-item border-0">
                                    <div class="me-auto">
                                        <div class="fw-bold">Tallarines Pad Thai</div>
                                        <p class="mb-0"><small>Salsa de soja</small></p>
                                    </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="me-auto">
                                        <div class="fw-bold">Maki roll</div>
                                    </div>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
            </div>

            <!-- para enviar mensajes; algo feo -->
            <div class="py-5 position-absolute bottom-0 end-0">
                <form th:action="@{/user/__${user.id}__/msg}" method="POST">
                    <input type="text" id="message" placeholder="escribe a este usuario" />
                    <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        // envio de mensajes con AJAX
        let b = document.getElementById("sendmsg");
        b.onclick = (e) => {
            e.preventDefault();
            go(b.parentNode.action, 'POST', {
                    message: document.getElementById("message").value
                })
                .then(d => console.log("happy", d))
                .catch(e => console.log("sad", e))
        }

        document.querySelector("#avatar").style.display = "none";

        // refresca previsualizacion cuando cambias imagen
        document.querySelector("#f_avatar").onchange = e => {
            document.querySelector("#avatar").style.display = "inline";
            let img = document.querySelector("#avatar");
            let fileInput = document.querySelector("#f_avatar");
            console.log(img, fileInput);
            readImageFileData(fileInput.files[0], img);
        };

        // click en boton de enviar avatar
        document.querySelector("#postAvatar").onclick = e => {
            e.preventDefault();
            let url = document.querySelector("#postAvatar").parentNode.action;
            let img = document.querySelector("#avatar");
            let file = document.querySelector("#f_avatar");
            postImage(img, url, "photo", file).then(() => {
                let cacheBuster = "?" + new Date().getTime();
                document.querySelector("a.nav-link>img.iwthumb").src = url + cacheBuster;
            });
        };

        // click en boton de cambiar direccion
        document.querySelector("#postDir").onclick = e => {
            e.preventDefault();
            let url = document.querySelector("#postDir").parentNode.action;
            let dir = document.querySelector("#direccion");

            postImage(img, url, "photo", file).then(() => {
                let cacheBuster = "?" + new Date().getTime();
                document.querySelector("a.nav-link>img.iwthumb").src = url + cacheBuster;
            });
        };

    </script>
</body>

</html>